/* Make navbar items display inline on mobile */
@media screen and (max-width: 1023px) {
    .navbar-menu {
        position: static;
        background-color: transparent;
    }
    
    .navbar-end {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.25rem;
    }
    
    /* Reduce padding on mobile navbar items */
    .navbar-item {
        padding: 0.5rem 0.5rem;
    }
    
    /* Hide separators on mobile */
    .navbar-separator {
        display: none;
    }
}